#player {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.flex-spacer {
  flex: 1 1 0;
}

video {
  transform: scale(-1, 1);
}

#video-container {
  flex: 1 1 auto;
  position: relative;
}

#video, #live {
  width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
}

#controls {
  flex: 0 0 48px;
  display: flex;
  background: #333;
}

#controls app-seek-bar {
  flex: 1 0 auto;
}

#controls button {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 0;
}

app-icon {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
}

#controls button span {
  display: block;
}

#controls #preview-wrapper {
  position: fixed;
  bottom: 48px;
  left: 0px;
  width: 33%;
  height: 33%;
  transform-origin: bottom left;
  line-height: 0;
}

#controls #preview {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: auto;
  border: 1px solid white;
  background: #333;
}

#waitTime {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  position: fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 150px;
}

#waitTime div {
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
  line-height: 1;
}

.error {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50%;
}

#wizard {
  font-size: 90%;
  position: absolute;
  bottom: 48px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: default;
}

#wizard::after {
  content: '';
  border-top: 8px solid #f6f6f6;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: none;
  margin-right: 88px;
}

#wizard p {
  margin: 0;
  background: #f6f6f6;
  color: #333;
  padding: 8px;
}
