<div id="player" [style.visibility]="isError ? 'hidden' : 'visible'">
  <div id="video-container">
    <video id="live" [hidden]="!isLive"></video>
    <video id="video"
           [hidden]="isLive"
           (ended)="stopped()"
           (timeupdate)="showDelay()"></video>
  </div>

  <div [hidden]="isWaiting" id="waitTime"><div>{{waitTime}}</div></div>

  <div id="controls" [style.visibility]="isInitialized ? 'visible' : 'hidden'">
    <video id="preview"
      [hidden]="!isPreviewShown"
      (click)="togglePreview()"></video>
    <button (click)="togglePreview()"
        [disabled]="isLive || isEnded"
        id="preview-button">
      <span>◱</span>
    </button>
    <app-seek-bar
         [targetDelay]="targetMs / 1000"
         [displayedDelay]="displayedDelay"
         [currentTime]="currentTime"
         [totalTime]="totalTime"
         [isEnded]="isEnded"></app-seek-bar>
    <button (click)="more()" class="skip">
      <app-icon pic="back5"></app-icon>
    </button>
    <button (click)="less()" class="skip" [disabled]="isAtEnd">
      <app-icon pic="skip5"></app-icon>
    </button>
    <button (click)="stopRecord()" [hidden]="isEnded">
      <app-icon pic="stoprecord"></app-icon>
    </button>
    <button routerLink="/" [hidden]="!isEnded">
      <app-icon pic="close"></app-icon>
    </button>
  </div>
</div>

<div class="error" *ngIf="isUnsupportedBrowser">
  Sorry, your browser is missing the capability to run this app. For now, it
  only works in recent versions of Chrome (desktop or Android) or Firefox (desktop).
</div>
<div class="error" *ngIf="isPermissionDeniedError">
  Please give the camera permission and reload.
</div>
<div class="error" *ngIf="isNotFoundError">
  Looks like you don't have a webcam.
</div>
<div class="error" *ngIf="isUnknownError">
  Something went wrong.  That's all we know.
</div>
