<div id="player" [style.visibility]="(isError$ | async) ? 'hidden' : 'visible'">
  <div id="debug-panel" *ngIf="showDebugPanel | async">
    currentTime: {{ currentTime$ | async }}<br />
    displayedDelay: {{ displayedDelay$ | async }}<br />
    isAtEnd: {{ isAtEnd$ | async }}<br />
    isEnded: {{ isEnded$ | async }}<br />
    isError: {{ isError$ | async }}<br />
    isInitialized: {{ isInitialized$ | async }}<br />
    isLive: {{ isLive$ | async }}<br />
    isNotFoundError: {{ isNotFoundError$ | async }}<br />
    isPermissionDeniedError: {{ isPermissionDeniedError$ | async }}<br />
    isUnknownError: {{ isUnknownError$ | async }}<br />
    isWaiting: {{ isWaiting$ | async }}<br />
    showPreview: {{ showPreview$ | async }}<br />
    showWizard: {{ showWizard$ | async }}<br />
    targetS: {{ targetS$ | async }}<br />
    totalTime: {{ totalTime$ | async }}<br />
    waitTime: {{ waitTime$ | async }}<br />
    bufferedEnd: {{ bufferedEnd$ | async }}<br />
  </div>

  <div id="video-container">
    <video id="live" [hidden]="(isLive$ | async) === false"></video>
    <video
      id="video"
      [hidden]="(isLive$ | async) || (isEnded$ | async)"
      (ended)="stopped()"
      (timeupdate)="updateTime()"
    ></video>
    <video id="final" [hidden]="(isEnded$ | async) === false"></video>
  </div>

  <div [hidden]="isWaiting$ | async" id="waitTime">
    <div>{{ waitTime$ | async }}</div>
  </div>

  <div
    id="wizard"
    *ngIf="(isInitialized$ | async) && (showWizard$ | async)"
    (click)="dismissWizard()"
  >
    <p>Start here: click to rewind 5 seconds</p>
  </div>

  <div
    id="preview-wrapper"
    [@preview]="(showPreview$ | async) === false || (isLive$ | async) ? 'hide' : 'show'"
    (click)="togglePreview()"
  >
    <video id="preview"></video>
  </div>
  <mat-toolbar [style.visibility]="(isInitialized$ | async) ? 'visible' : 'hidden'">
    <button
      mat-button
      (click)="togglePreview()"
      [disabled]="(isLive$ | async) || (isEnded$ | async)"
      id="preview-button"
    >
      <mat-icon aria-hidden="false" aria-label="Preview" class="mirrored"
        >picture_in_picture_alt</mat-icon
      >
    </button>
    <app-seek-bar
      [targetDelay]="targetS$ | async"
      [displayedDelay]="displayedDelay$ | async"
      [currentTime]="currentTime$ | async"
      [totalTime]="totalTime$ | async"
      [isEnded]="isEnded$ | async"
    ></app-seek-bar>
    <button mat-button (click)="more()" class="skip">
      <mat-icon aria-hidden="false" aria-label="Back 5 seconds">replay_5</mat-icon>
    </button>
    <button mat-button (click)="less()" class="skip" [disabled]="isAtEnd$ | async">
      <mat-icon aria-hidden="false" aria-label="Forward 5 seconds">forward_5</mat-icon>
    </button>
    <button mat-button (click)="stopRecord()" *ngIf="(isEnded$ | async) === false">
      <mat-icon aria-hidden="false" aria-label="Stop">stop</mat-icon>
    </button>
    <button mat-button routerLink="/" *ngIf="isEnded$ | async">
      <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="error" *ngIf="isUnsupportedBrowser">
  Sorry, your browser is missing the capability to run this app. For now, it only works in recent
  versions of Chrome (desktop or Android) or Firefox (desktop).
</div>
<div class="error" *ngIf="isPermissionDeniedError$ | async">
  Please give the camera permission and reload.
</div>
<div class="error" *ngIf="isNotFoundError$ | async">
  Looks like you don't have a webcam.
</div>
<div class="error" *ngIf="isUnknownError$ | async">
  Something went wrong. That's all we know.
</div>
