#player {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.flex-spacer {
  flex: 1 1 0;
}

video {
  transform: scale(-1, 1);
}

#video-container {
  flex: 1 1 auto;
  position: relative;
}

#video, #live {
  width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
}

#controls {
  flex: 0 0 48px;
  display: flex;
  background: #333;
}

#controls app-seek-bar {
  flex: 1 0 auto;
}

#controls button {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 0;
}

app-icon {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
}

#controls button span {
  display: block;
}

#controls #preview {
  position: fixed;
  bottom: 48px;
  left: 0px;
  border: 1px solid white;
  background: #333;
  width: 320px;
  max-width: 33%;
  height: auto;
}

#waitTime {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  position: fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 150px;
}

#waitTime div {
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
  line-height: 1;
}

.error {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50%;
}
