<div id="player" [style.visibility]="isError ? 'hidden' : 'visible'">
  <div id="video-container">
    <video id="live" [hidden]="!isLive"></video>
    <video id="video" [hidden]="isLive || isStopped"></video>
  </div>
  <div id="controls" [style.visibility]="isInitialized ? 'visible' : 'hidden'">
    <video id="preview" width="320" height="240" [hidden]="!showPreview"></video>
    <button (click)="togglePreview()" [hidden]="isLive" id="preview-button"><span>{{showPreview ? '✕' : '◱'}}</span></button>
    <div class="flex-spacer"></div>
    <div style="display: none">Current: <span id="currentTime"></span></div>
    <div style="display: none">Total: <span id="total"></span></div>
    <div [hidden]="isWaiting" id="waitTime"><div>{{waitTime}}</div></div>
    <div [hidden]="isStopped">Target: {{(targetMs / 1000) | number:'1.0-1'}}</div>
    <div [hidden]="isStopped">Delay: {{displayedDelay | number:'1.0-1'}}</div>
    <button (click)="more()" class="skip" [hidden]="isStopped"><app-icon pic="back5"></app-icon></button>
    <button (click)="less()" class="skip" [hidden]="isStopped" [disabled]="isLive"><app-icon pic="skip5"></app-icon></button>
    <button (click)="stopRecord()" [hidden]="isEnded"><app-icon pic="stoprecord"></app-icon></button>
    <button (click)="stop()" [hidden]="!isEnded || isStopped"><app-icon pic="stop"></app-icon></button>
  </div>
</div>

<div class="error" *ngIf="isUnsupportedBrowser">
  Sorry, your browser is missing the capability to run this app. For now, it
  only works in recent versions of Chrome or Firefox.
</div>
<div class="error" *ngIf="isPermissionDeniedError">
  Please reload and give the camera permission.
</div>
<div class="error" *ngIf="isNotFoundError">
  Looks like you don't have a webcam.
</div>
<div class="error" *ngIf="isUnknownError">
  Something went wrong.  That's all we know.
</div>
