<div id="player" [style.visibility]="isError ? 'hidden' : 'visible'">
  <div class="flex-spacer"></div>
  <video id="live" [hidden]="!isLive"></video>
  <video id="video" [hidden]="isLive"></video>
  <div id="controls" [style.visibility]="isInitialized ? 'visible' : 'hidden'">
    <video id="preview" width="320" height="240" [hidden]="!showPreview"></video>
    <button (click)="togglePreview()" [hidden]="isLive">{{showPreview ? 'close' : 'preview'}}</button>
    <div class="flex-spacer"></div>
    <div style="display: none">Current: <span id="currentTime"></span></div>
    <div style="display: none">Total: <span id="total"></span></div>
    <div [hidden]="isWaiting" id="waitTime"><div>{{waitTime}}</div></div>
    <span>Target: {{(target / 1000) | number:'1.0-1'}}</span>
    <span>Delay: {{displayedDelay | number:'1.0-1'}}</span>
    <button (click)="more()">+5s</button>
    <button (click)="less()">-5s</button>
    <button (click)="stop()">stop</button>
  </div>
  <div class="flex-spacer"></div>
</div>

<div class="error" *ngIf="isUnsupportedBrowser">
  Sorry, your browser is missing the capability to run this app. For now, it
  only works in recent versions of Chrome or Firefox.
</div>
<div class="error" *ngIf="isPermissionDeniedError">
  Please reload and give the camera permission.
</div>
