<div id="player">
  <div class="flex-spacer"></div>
  <video id="live" [hidden]="!isLive"></video>
  <video id="video" [hidden]="isLive"></video>
  <div id="controls">
    <div class="flex-spacer"></div>
    <div style="display: none">Current: <span id="currentTime"></span></div>
    <div style="display: none">Total: <span id="total"></span></div>
    <div [hidden]="isWaiting" id="waitTime"><div>{{waitTime}}</div></div>
    <span>Target: {{(target / 1000) | number:'1.0-1'}}</span>
    <span>Delay: {{displayedDelay | number:'1.0-1'}}</span>
    <button (click)="less()">-5s</button>
    <button (click)="more()">+5s</button>
    <button (click)="stop()">stop</button>
  </div>
  <div class="flex-spacer"></div>
</div>
