#player {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-spacer {
  flex: 1 1 0;
}

video {
  transform: scale(-1, 1);
}

#video, #live {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  max-height: 95%;
}

#controls {
  flex: 0 0 auto;
  display: flex;
}

#controls * {
  padding: 5px;
}

#controls button {
  position: relative;
}

#controls #preview {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: 1px solid white;
  background: #333;
}

#waitTime {
  background: black;
  color: white;
  opacity: 0.5;
  font-size: 100px;
  text-align: center;
  position: fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 150px;
}

#waitTime div {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
  line-height: 1;
}
