#player {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-spacer {
  flex: 1 1 0;
}

video {
  transform: scale(-1, 1);
}

#video, #live {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  max-height: 95%;
}

#controls {
  flex: 0 0 auto;
  display: flex;
  background: #333;
}

#controls button {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

#controls div {
  padding: 0 5px;
  line-height: 32px;
  font-size: 13px;
  min-width: 64px;
}

#controls button:hover,
#controls button:focus {
  z-index: 10;
  box-shadow: 4px 4px 4px #2f2f2f;
}

#controls button:hover {
  background-color: #444;
}

#controls button:focus {
  outline: 1px solid #666;
}

#controls button span {
  display: block;
}

#controls button.skip span {
  margin: -4px 0 0 -3px;
  font-size: 24px;
}

#controls button.skip::after {
  content: '5';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 32px;
  font-size: 8px;
}

#controls button#preview-button {
  font-size: 20px;
}

#controls #preview {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: 1px solid white;
  background: #333;
}

#controls #waitTime {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  position: fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 150px;
}

#controls #waitTime div {
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
  line-height: 1;
}

.error {
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50%;
}
