html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: white;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  color: white;
}

button,
a.button,
a.loading-button {
  line-height: 48px;
  text-decoration: none;
  text-align: center;
  border: 0;
  background-color: #333;
  color: white;
  height: 48px;
  padding: 0 32px;
  font-size: 24px;
  outline: none;
}

a.button,
a.loading-button {
  display: inline-block;
}

a.loading-button {
  outline: 2px solid #333;
  background-color: transparent;
  cursor: default;
}

button:enabled {
  cursor: pointer;
}

button:enabled:hover,
a.button:hover {
  z-index: 10;
  box-shadow: 2px 2px 4px #111;
}

button:enabled:hover,
a.button:hover {
  background-color: #444;
}

button:disabled {
  opacity: 0.5;
}

button:enabled:focus a.button:focus {
  outline: 1px solid #666;
  background-color: #444;
}

button:enabled:active,
a.button:active {
  box-shadow: none;
  background-color: #2d2d2d;
}
#page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 50%;
  min-width: 300px;
  max-width: 800px;
}

#dynamic {
  height: 30vh;
}

#info {
  text-align: left;
}

#footer {
  font-size: 80%;
  padding-bottom: 10px;
  color: #999;
}

#footer p {
  margin: 0;
}

#footer a {
  color: #999;
  text-decoration-color: #666;
}

h1 {
  font-weight: 100;
  font-size: 320%;
}

.action {
  margin: 48px 0;
}
