/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222;
  color: white;
  line-height: 1.3;
}

button, a.button {
  line-height: 48px;
  text-decoration: none;
  text-align: center;
  border: 0;
  background-color: #333;
  color: white;
  height: 48px;
  padding: 0 32px;
  font-size: 24px;
  outline: none;
}

a.button {
  display: inline-block;
}

button:enabled {
  cursor: pointer;
}

button:enabled:hover,
a.button:hover {
  z-index: 10;
  box-shadow: 2px 2px 4px #111;
}

button:enabled:hover,
a.button:hover {
  background-color: #444;
}

button:disabled {
  opacity: 0.5;
}

button:enabled:focus
a.button:focus {
  outline: 1px solid #666;
  background-color: #444;
}

button:enabled:active,
a.button:active {
  box-shadow: none;
  background-color: #2d2d2d;
}
