#info {
  text-align: left;
  width: 50%;
  min-width: 300px;
  max-width: 800px;
  margin: 15% auto 0;
}

h1 {
  font-weight: 100;
  font-size: 320%;
}

.action {
  margin: 48px 0;
  text-align: center;
}
